In [5]:
import pandas as pd
datos = 'https://github.com/jhoanmoreno-94/Trabajo_final/raw/refs/heads/main/results.csv'
df = pd.read_csv(datos)
print(df)

             date            home_team away_team  home_score  away_score  \
0      1872-11-30             Scotland   England           0           0
1      1873-03-08              England  Scotland           4           2
2      1874-03-07             Scotland   England           2           1
3      1875-03-06              England  Scotland           2           2
4      1876-03-04             Scotland   England           3           0
...           ...                  ...       ...         ...         ...
48668  2025-10-14  Republic of Ireland   Armenia           1           0
48669  2025-10-14              Estonia   Moldova           1           1
48670  2025-10-14                Italy    Israel           3           0
48671  2025-10-14              Andorra    Serbia           1           3
48672  2025-10-14               Latvia   England           0           5

                         tournament     city              country  neutral
0                          Friendly  Glasgow             Scotland    False
1                          Friendly   London              England    False
2                          Friendly  Glasgow             Scotland    False
3                          Friendly   London              England    False
4                          Friendly  Glasgow             Scotland    False
...                             ...      ...                  ...      ...
48668  FIFA World Cup qualification   Dublin  Republic of Ireland    False
48669  FIFA World Cup qualification  Tallinn              Estonia    False
48670  FIFA World Cup qualification    Udine                Italy    False
48671  FIFA World Cup qualification   Encamp              Andorra    False
48672  FIFA World Cup qualification     Riga               Latvia    False

[48673 rows x 9 columns]

In [7]:
print(f"La cantidad de filas y columnas son: {df.shape}")

La cantidad de filas y columnas son: (48673, 9)

In [14]:
print(df.describe())

         home_score    away_score
count  48673.000000  48673.000000
mean       1.757874      1.181743
std        1.772685      1.401651
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [18]:
print(f"Las primeras 5 filas del Dataframe es: \n{df.head()}")

Las primeras 5 filas del Dataframe es:
         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
3   England    False
4  Scotland    False

In [17]:
print(f"Las últimas 5 filas del Dataframe es: \n{df.tail(5)}")

Las últimas 5 filas del Dataframe es:
             date            home_team away_team  home_score  away_score  \
48668  2025-10-14  Republic of Ireland   Armenia           1           0
48669  2025-10-14              Estonia   Moldova           1           1
48670  2025-10-14                Italy    Israel           3           0
48671  2025-10-14              Andorra    Serbia           1           3
48672  2025-10-14               Latvia   England           0           5

                         tournament     city              country  neutral
48668  FIFA World Cup qualification   Dublin  Republic of Ireland    False
48669  FIFA World Cup qualification  Tallinn              Estonia    False
48670  FIFA World Cup qualification    Udine                Italy    False
48671  FIFA World Cup qualification   Encamp              Andorra    False
48672  FIFA World Cup qualification     Riga               Latvia    False

In [16]:
print(f"Los tipos de datos que hay en el Dataframe es: \n{df.dtypes}")

Los tipos de datos que hay en el Dataframe es:
date          object
home_team     object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
dtype: object

In [35]:
df = df.rename(columns={"date" : "Fecha_partido",
                   "home_team" : "Nombre_equipo_local",
                   "away_team" : "Nombre_equipo_visitante",
                   "home_score" : "Resultado_equipo_local",
                   "away_score" : "Resultado_equipo_visitante",
                   "tournament" : "Nombre_torneo",
                   "city" : "Cuidad",
                   "country" : "Pais",
                   "neutral" : "Campo_neutral"
                    })
print(f"Los nombres de las columnas fueron cambiados al español, se visualizan de la siguiente manera: \n{df.columns}")

Los nombres de las columnas fueron cambiados al español, se visualizan de la siguiente manera:
Index(['Fecha_partido', 'Nombre_equipo_local', 'Nombre_equipo_visitante',
       'Resultado_equipo_local', 'Resultado_equipo_visitante', 'Nombre_torneo',
       'Cuidad', 'Pais', 'Campo_neutral'],
      dtype='object')

In [34]:
df['Fecha_partido'] = pd.to_datetime(df['Fecha_partido'])
print(f"La columna 'Fecha partido' se actualizo su tipo de dato, ya que estaba en tipo objeto, ahora está: \n{df.dtypes}")

La columna 'Fecha partido' se actualizo su tipo de dato, ya que estaba en tipo objeto, ahora está:
Fecha_partido                 datetime64[ns]
Nombre_equipo_local                   object
Nombre_equipo_visitante               object
Resultado_equipo_local                 int64
Resultado_equipo_visitante             int64
Nombre_torneo                         object
Cuidad                                object
Pais                                  object
Campo_neutral                           bool
dtype: object

In [26]:
print(f"El número de equipos locales son: {df['Nombre_equipo_local'].nunique()} y los nombres son: \n{df['Nombre_equipo_local'].unique()}")

El número de equipos locales son: 325 y los nombres son:
['Scotland' 'England' 'Wales' 'Northern Ireland' 'United States' 'Uruguay'
 'Austria' 'Hungary' 'Argentina' 'Belgium' 'France' 'Guernsey' 'Jersey'
 'Netherlands' 'Guyana' 'Czechoslovakia' 'Alderney' 'Switzerland' 'Sweden'
 'Germany' 'Italy' 'Chile' 'Norway' 'Russia' 'Finland' 'Luxembourg'
 'Denmark' 'Catalonia' 'Philippines' 'Basque Country' 'China PR' 'Brazil'
 'Japan' 'Paraguay' 'Greece' 'Spain' 'Egypt' 'Suriname' 'Canada' 'Estonia'
 'Costa Rica' 'Guatemala' 'Brittany' 'Poland' 'Yugoslavia' 'New Zealand'
 'Romania' 'Latvia' 'Galicia' 'Portugal' 'Andalusia' 'Australia'
 'Lithuania' 'Turkey' 'Central Spain' 'Mexico' 'Aruba'
 'Republic of Ireland' 'Haiti' 'Bulgaria' 'Jamaica' 'Kenya' 'Bolivia'
 'Peru' 'Honduras' 'Uganda' 'Belarus' 'El Salvador' 'Barbados'
 'Trinidad and Tobago' 'Cuba' 'Curaçao' 'Dominica' 'Silesia' 'Guadeloupe'
 'Israel' 'French Guiana' 'Panama' 'Colombia' 'Venezuela' 'Ecuador'
 'Saint Kitts and Nevis' 'Slovakia' 'Manchukuo' 'Croatia' 'Nicaragua'
 'Afghanistan' 'India' 'Martinique' 'Zimbabwe' 'Iceland' 'Albania'
 'Madagascar' 'Zambia' 'Mauritius' 'Tanzania' 'Iran' 'Djibouti' 'DR Congo'
 'Vietnam' 'Macau' 'Ethiopia' 'Puerto Rico' 'Réunion' 'Sierra Leone'
 'Zanzibar' 'South Korea' 'Ghana' 'South Africa' 'New Caledonia' 'Fiji'
 'Nigeria' 'Myanmar' 'Sri Lanka' 'Tahiti' 'Gambia' 'Hong Kong' 'Singapore'
 'Malaysia' 'Indonesia' 'Guinea-Bissau' 'German DR' 'Vanuatu' 'Kernow'
 'Saarland' 'Taiwan' 'Cambodia' 'Lebanon' 'Pakistan' 'Vietnam Republic'
 'North Korea' 'Togo' 'Sudan' 'Malta' 'Syria' 'Tunisia' 'Malawi' 'Morocco'
 'Benin' 'Thailand' 'Ivory Coast' 'Burkina Faso' 'Congo' 'Cameroon' 'Mali'
 'North Vietnam' 'Mongolia' 'Cyprus' 'Iraq' 'Saint Lucia' 'Grenada'
 'Senegal' 'Central African Republic' 'Chad' 'Libya' 'Gabon' 'Guinea'
 'Algeria' 'Kuwait' 'Jordan' 'Liberia' 'Solomon Islands' 'Laos'
 'Saint Vincent and the Grenadines' 'Bermuda' 'Niger' 'Montenegro'
 'Palestine' 'Bahrain' 'Papua New Guinea' 'Mauritania' 'Saudi Arabia'
 'Eswatini' 'Western Australia' 'Somalia' 'Lesotho' 'Cook Islands' 'Qatar'
 'Antigua and Barbuda' 'Faroe Islands' 'Bangladesh' 'Yemen' 'Oman'
 'Yemen DPR' 'Burundi' 'Mozambique' 'Guam' 'Angola' 'Dominican Republic'
 'Seychelles' 'Rwanda' 'São Tomé and Príncipe' 'Botswana'
 'Northern Cyprus' 'Cape Verde' 'Kyrgyzstan' 'Georgia' 'Azerbaijan'
 'Comoros' 'Kiribati' 'Tonga' 'Wallis Islands and Futuna'
 'United Arab Emirates' 'Brunei' 'Equatorial Guinea' 'Liechtenstein'
 'Nepal' 'Greenland' 'Niue' 'Samoa' 'American Samoa' 'Belize' 'Maldives'
 'Anguilla' 'Cayman Islands' 'Palau' 'Sint Maarten' 'Namibia'
 'Åland Islands' 'Ynys Môn' 'Saint Martin' 'San Marino' 'Slovenia'
 'Shetland' 'Isle of Wight' 'Moldova' 'Ukraine' 'Kazakhstan' 'Tajikistan'
 'Uzbekistan' 'Turkmenistan' 'Armenia' 'Gibraltar' 'Isle of Man'
 'North Macedonia' 'Czech Republic' 'Montserrat' 'Serbia' 'Canary Islands'
 'Bosnia and Herzegovina' 'Andorra' 'British Virgin Islands' 'Frøya'
 'Hitra' 'United States Virgin Islands' 'Corsica' 'Eritrea' 'Bahamas'
 'Gotland' 'Saare County' 'Rhodes' 'Micronesia' 'Bhutan' 'Orkney' 'Monaco'
 'Tuvalu' 'Sark' 'Mayotte' 'Turks and Caicos Islands' 'Timor-Leste'
 'Occitania' 'Chechnya' 'Western Isles' 'Falkland Islands' 'Kosovo'
 'Republic of St. Pauli' 'Găgăuzia' 'Tibet' 'Sápmi'
 'Northern Mariana Islands' 'Romani people' 'Menorca' 'Provence'
 'Arameans Suryoye' 'Padania' 'Iraqi Kurdistan' 'Gozo' 'Bonaire'
 'Chagos Islands' 'Sealand' 'Western Sahara' 'Raetia' 'Darfur'
 'Tamil Eelam' 'South Sudan' 'Saint Barthélemy' 'Abkhazia'
 'Saint Pierre and Miquelon' 'Artsakh' 'Madrid' 'Saugeais' 'Ellan Vannin'
 'Vatican City' 'Somaliland' 'Franconia' 'South Ossetia' 'County of Nice'
 'Seborga' 'Székely Land' 'Panjab' 'Felvidék' 'Luhansk PR' 'Donetsk PR'
 'United Koreans in Japan' 'Western Armenia' 'Délvidék' 'Barawa' 'Ryūkyū'
 'Kárpátalja' 'Yorkshire' 'Matabeleland' 'Cascadia' 'Kabylia'
 'Parishes of Jersey' 'Chameria' 'Saint Helena' 'Yoruba Nation' 'Biafra'
 'Mapuche' 'Aymara' 'Elba Island' 'West Papua' 'Ticino' 'Hmong'
 'Marshall Islands']

In [27]:
print(f"El número de equipos visitantes son: {df['Nombre_equipo_visitante'].nunique()} y los nombres son: \n{df['Nombre_equipo_visitante'].unique()}")

El número de equipos visitantes son: 318 y los nombres son:
['England' 'Scotland' 'Wales' 'Northern Ireland' 'Canada' 'Argentina'
 'Hungary' 'Czechoslovakia' 'Austria' 'Uruguay' 'France' 'Switzerland'
 'Alderney' 'Guernsey' 'Netherlands' 'Belgium' 'Trinidad and Tobago'
 'Jersey' 'Germany' 'Norway' 'Denmark' 'Sweden' 'Italy' 'Chile'
 'Catalonia' 'Finland' 'Russia' 'China PR' 'Luxembourg' 'Brazil'
 'Basque Country' 'Philippines' 'United States' 'Romania' 'Greece'
 'Yugoslavia' 'Egypt' 'Spain' 'Estonia' 'Guyana' 'Provence' 'Japan'
 'El Salvador' 'Costa Rica' 'Paraguay' 'Poland' 'Portugal' 'Australia'
 'Central Spain' 'Mexico' 'Galicia' 'Brittany' 'Asturias' 'New Zealand'
 'Latvia' 'Guatemala' 'Curaçao' 'Bulgaria' 'Turkey' 'Lithuania'
 'Republic of Ireland' 'South Africa' 'Jamaica' 'Uganda' 'Bolivia' 'Haiti'
 'Kenya' 'Ukraine' 'Honduras' 'Nicaragua' 'Peru' 'Aruba' 'Martinique'
 'Barbados' 'Cuba' 'Israel' 'Indonesia' 'Suriname' 'Saint Lucia'
 'Colombia' 'Venezuela' 'Ecuador' 'Grenada' 'India' 'Panama' 'Slovakia'
 'Croatia' 'Lebanon' 'Manchukuo' 'Puerto Rico' 'Iran' 'Guadeloupe'
 'Mongolia' 'Tanzania' 'Zambia' 'Montenegro' 'Mauritius' 'Zimbabwe'
 'French Guiana' 'Réunion' 'Albania' 'Zanzibar' 'Ethiopia' 'Madagascar'
 'Dominica' 'South Korea' 'Djibouti' 'Dominican Republic' 'Cyprus'
 'Iceland' 'Nigeria' 'Syria' 'DR Congo' 'Serbia' 'Taiwan' 'Afghanistan'
 'Myanmar' 'Vanuatu' 'Ghana' 'Pakistan' 'German DR' 'Sierra Leone'
 'Guinea-Bissau' 'Gambia' 'Saarland' 'Tahiti' 'Burundi' 'Cameroon'
 'Sri Lanka' 'Vietnam' 'Hong Kong' 'Singapore' 'Thailand' 'New Caledonia'
 'Cambodia' 'Malaysia' 'Vietnam Republic' 'Kyrgyzstan' 'Belarus' 'Moldova'
 'North Vietnam' 'Togo' 'North Korea' 'Sudan' 'Libya' 'Malta' 'Benin'
 'Cape Verde' 'Gabon' 'Central African Republic' 'Burkina Faso' 'Mali'
 'Ivory Coast' 'Congo' 'Iraq' 'Tunisia' 'Morocco'
 'Saint Vincent and the Grenadines' 'Laos' 'Mauritania' 'Liberia' 'Niger'
 'Senegal' 'Guinea' 'Malawi' 'Jordan' 'Kuwait' 'Chad' 'Papua New Guinea'
 'Solomon Islands' 'Somalia' 'Saudi Arabia' 'Algeria' 'Bermuda'
 'Palestine' 'Yemen' 'Bahrain' 'Oman' 'Wallis Islands and Futuna'
 'Corsica' 'Western Australia' 'Botswana' 'Fiji' 'Eswatini' 'Qatar'
 'Lesotho' 'Bahamas' 'Brunei' 'Cook Islands' 'Yemen DPR'
 'United Arab Emirates' 'Faroe Islands' 'Nepal' 'Antigua and Barbuda'
 'Bangladesh' 'Seychelles' 'Equatorial Guinea' 'Mozambique' 'Angola'
 'São Tomé and Príncipe' 'Macau' 'Saint Kitts and Nevis' 'Armenia'
 'Kazakhstan' 'Comoros' 'Maldives' 'Tonga' 'Kiribati' 'Tuvalu' 'Samoa'
 'Greenland' 'Northern Cyprus' 'Rwanda' 'Liechtenstein' 'Bhutan'
 'South Yemen' 'American Samoa' 'Cayman Islands' 'British Virgin Islands'
 'Sint Maarten' 'Ynys Môn' 'Shetland' 'Åland Islands' 'Saint Martin'
 'San Marino' 'Montserrat' 'Anguilla' 'Isle of Wight' 'Georgia' 'Guam'
 'Turkmenistan' 'Slovenia' 'Uzbekistan' 'Eritrea' 'Tajikistan' 'Namibia'
 'Azerbaijan' 'Isle of Man' 'Gibraltar' 'North Macedonia' 'Czech Republic'
 'Belize' 'Bosnia and Herzegovina' 'Andorra' 'Frøya' 'Hitra'
 'Northern Mariana Islands' 'Kernow' 'Turks and Caicos Islands'
 'United States Virgin Islands' 'Micronesia' 'Saare County' 'Rhodes'
 'Monaco' 'Tibet' 'Orkney' 'Falkland Islands' 'Mayotte' 'Vatican City'
 'Timor-Leste' 'Gotland' 'Sark' 'Sealand' 'Chechnya' 'Occitania'
 'Ambazonia' 'Western Isles' 'Crimea' 'Sápmi' 'Menorca' 'Iraqi Kurdistan'
 'Padania' 'Arameans Suryoye' 'Gozo' 'Two Sicilies' 'Saint Barthélemy'
 'Saint Pierre and Miquelon' 'Bonaire' 'Romani people' 'Raetia' 'Cilento'
 'Chagos Islands' 'Western Sahara' 'Darfur' 'Tamil Eelam' 'Artsakh'
 'Abkhazia' 'South Sudan' 'Andalusia' 'South Ossetia' 'County of Nice'
 'Ellan Vannin' 'Luhansk PR' 'Donetsk PR' 'Felvidék' 'Panjab' 'Franconia'
 'Székely Land' 'Somaliland' 'Western Armenia' 'Kosovo' 'Kárpátalja'
 'United Koreans in Japan' 'Yorkshire' 'Surrey' 'Cascadia' 'Matabeleland'
 'Kabylia' 'Barawa' 'Parishes of Jersey' 'Chameria' 'Saint Helena'
 'Biafra' 'Maule Sur' 'Aymara' 'Hmong' 'Ticino' 'Marshall Islands']

In [30]:
df.isna().sum()

Fecha_partido                 0
Nombre_equipo_local           0
Nombre_equipo_visitante       0
Resultado_equipo_local        0
Resultado_equipo_visitante    0
Nombre_torneo                 0
Cuidad                        0
Pais                          0
Campo_neutral                 0
dtype: int64

In [33]:
df.duplicated().sum()

0